---
import DetailPage from "../components/DetailPage.astro";
import AwarenessImage from "../images/Elemente_Subpages_Awareness.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Awareness</title>
  </head>
  <body>
    <DetailPage image={AwarenessImage} pageTitle="Awareness">
      <p>
        Das kleinLaut Festival ist ein Ort der Begegnung, der Vielfalt und der
        Freude an Musik und Kunst. Wir möchten, dass sich alle Besucher*innen
        bei uns wohl und willkommen fühlen. Deshalb legen wir grossen Wert auf
        ein respektvolles und friedliches Miteinander. Wir tolerieren keine Form
        von Diskriminierung, Gewalt oder Belästigung auf unserem
        Festivalgelände. Gemeinsam können wir dafür sorgen, dass das kleinLaut
        Festival ein Ort bleibt, an dem wir alle klein, fein, wie auch laut und
        bunt feiern können.
      </p>
      <p>
        <a href="/2023/Awareness-Konzept.pdf" target="_blank"
          >Das Awarenesskonzept als PDF herunterladen</a
        >
      </p>
      <h2>Unsere Grundsätze</h2>
      <strong>
        <ul>
          <li>Nur JA heisst JA.</li>
          <li>Diskriminierung jeglicher Art wird nicht toleriert.</li>
          <li>Wir geben aufeinander acht.</li>
          <li>Grenzen werden respektiert.</li>
          <li>Achte darauf, wie viel Raum du einnimmst.</li>
          <li>Wir sind da, wenn du Hilfe brauchst.</li>
        </ul>
      </strong>

      <h3>Unterstützung holen</h3>

      <p>
        Falls du dich in einer unangenehmen oder bedrohlichen Situation
        befindest oder eine solche Situation beobachtest, kannst du dich
        jederzeit an unser Awareness-Team wenden. Sie hören zu, versuchen die
        Situation zu entschärfen und können weiterführende Schritte vorschlagen.
        Du erkennst sie an dem orange leuchtenden Bändel. Auch kannst du sie
        telefonisch unter der Nummer <strong>077 471 49 53</strong> erreichen. Falls
        du gerade keine Awarenesshelfenden findest oder nicht telefonieren möchtest,
        kannst du dich auch an das Sanitätszelt wenden. Sie sind mit dem Awareness-Team
        in Kontakt.
      </p>
      <p>
        Wenn die Grenzüberschreitung bereits vorbei ist oder du erst später
        realisierst, dass etwas nicht in Ordnung war, kannst du dich auch im
        Nachhinein an uns wenden. Nach dem Festival stehen wir dir weiter unter
        <a href="mailto:awareness@kleinlautfestival.ch"
          >awareness@kleinlautfestival.ch</a
        > zur Verfügung.
      </p>

      <h3>Unterstützung anbieten</h3>

      <p>
        Wenn du merkst, dass eine Person von Diskriminierung betroffen ist, oder
        du einen Übergriff beobachtest, frage nach, ob Hilfe gebraucht wird.
        Wichtig ist auch, dass du deine eigenen Grenzen kennst. Wenn eine
        Situation deine Grenzen überschreitet, hole dir Hilfe bei
        Awareness-Helfer*innen oder Freund*innen. Sollte die betroffene Person
        deine Hilfe abweisen oder nicht darüber reden wollen, akzeptiere das.
        Wenn die betroffene Person reden will, ist es wichtig, aktiv zuzuhören
        und die Aussagen sowie persönliche Grenzen zu respektieren.
      </p>
      <p>
        Wir sind uns bewusst, dass unser Raum nicht automatisch
        diskriminierungsfrei ist, nur weil wir uns Mühe geben, diese Werte zu
        vermitteln und spürbar zu machen. Wir geben uns trotzdem grosse Mühe,
        einen Safer Space für alle zu schaffen und sind dankbar, auf
        Verbesserungsmöglichkeiten sowie auf Problematiken aufmerksam gemacht zu
        werden.
      </p>

      <p>
        <strong
          >Achtet aufeinander – Freiraum bedeutet Verantwortung übernehmen.</strong
        >
      </p>

      <p>
        Falls du dich noch nicht mit dem Thema Awareness auskennst, haben wir
        hier ein paar Begriffe und Definitionen gesammelt.
      </p>

      <h3>Was bedeutet Awareness?</h3>

      <p>
        Awareness leitet sich vom Englischen «to be aware» ab und bezeichnet ein
        Konzept, das sich mit körperlichen, psychischen und persönlichen Grenzen
        bis hin zu Gewalt in öffentlichen Räumen auseinandersetzt. Dabei liegt
        respektvolles Verhalten mit und gegenüber anderen im Zentrum. Es geht
        darum, sich gegenseitig zu unterstützen und einen Raum zu schaffen, in
        dem sich alle wohlfühlen können und keinerlei übergriffiges oder
        diskriminierendes Verhalten geduldet wird. Dabei werden
        Grenzüberschreitungen individuell von den Betroffenen definiert: Welche
        Vorfälle dazu führen, dass sich Menschen angegriffen, missachtet,
        diskriminiert, verletzt, herabgewürdigt oder überfordert fühlen, wird
        nicht infrage gestellt.
      </p>

      <h3>Konsens</h3>
      <p>
        Nur Ja heisst Ja. Das bedeutet für uns, dass eine Handlung nur toleriert
        wird, solange alle Beteiligten ausdrücklich zugestimmt haben. Fehlendes
        Einverständnis bedeutet keine Zustimmung für eine Handlung. Dazu gehören
        unter anderem verbale Kommentare, Körperkontakt, Antanzen oder
        Konsumzwang.
      </p>

      <h3>Diskriminierung</h3>
      <p>
        Diskriminierung ist die Ungleichbehandlung von Menschen aufgrund
        zugeschriebener Merkmale wie beispielsweise Geschlechtsidentität,
        sexuelle Orientierung, soziale oder ethnische Herkunft, Sprache,
        Religion, politische Überzeugung, Alter, Behinderung, Körpergewicht oder
        anhand von spezifischen Verhaltensweisen und Erscheinungsformen. Kurzum,
        wir tolerieren am kleinLaut keinerlei Diskriminierungen; keinen
        Sexismus, Rassismus, Homo- und Transfeindlichkeit, Klassismus,
        Body-Shaming, Ageismus und auch keinen Ableismus.
      </p>

      <h3>Privilegien</h3>

      <p>
        Es gibt in unserer Gesellschaft Machtstrukturen, aufgrund deren gewisse
        Menschen privilegierter sind als andere. Wer ein Privileg hat, wird mit
        gewissen Problemen und Diskriminierungen im Alltag weniger oder gar
        nicht konfrontiert. Privilegien können sein: einen Schweizer Pass haben;
        als weiss gelten; cis Mann sein; heterosexuelles Begehren ausleben; sich
        als cis identifizieren; in einem Mittelschichtshintergrund leben; keine
        psychische Erkrankung haben; nicht behindert zu sein; einen normschönen
        Körper haben; uvm.
      </p>
      <p>
        Menschen haben unterschiedliche Privilegien und sind dementsprechend
        verschieden stark von Diskriminierungsformen betroffen. Deshalb ist es
        wichtig, sich die eigenen Privilegien bewusst zu machen und zu
        realisieren, wie mensch von ihnen profitiert.
      </p>

      <p>
        Unser Awareness-Konzept ist auf Basis des <a
          href="https://ooam.ch/awareness/"
          target="_blank">One of a Million</a
        > Konzepts entstanden.
      </p>
    </DetailPage>
  </body>
</html>
