---
import DetailPage from "../components/DetailPage.astro";
import AwararnessImage from "../images/Elemente_Subpages_Awareness.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Awareness</title>
  </head>
  <body>
    <DetailPage image={AwararnessImage} pageTitle="Awareness">
      Wir sind dran ein Awareness-Konzept aus zu arbeiten. Mehr Infos folgen
      Mitte Juni.
    </DetailPage>
  </body>
</html>
