---
import DetailPage from "../components/DetailPage.astro";
import BarrierefreiheitImage from "../images/Elemente_Subpages_Barrierefreiheit.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Barrierefreiheit</title>
  </head>
  <body>
    <DetailPage image={BarrierefreiheitImage} pageTitle="Barrierefreiheit">
      Dieses Jahr versuchen wir uns mehr Gedanken zu machen über
      Barrierefreiheit am Festival.
    </DetailPage>
  </body>
</html>
