---
import DetailPage from "../components/DetailPage.astro";
import BarrierefreiheitImage from "../images/Elemente_Subpages_Barrierefreiheit.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Barrierefreiheit</title>
  </head>
  <body>
    <DetailPage image={BarrierefreiheitImage} pageTitle="Barrierefreiheit">
      <p>
        Uns ist wichtig, dass möglichst alle am kleinLaut Festival teilnehmen
        können, die wollen. Darum haben wir uns dieses Jahr mehr mit dem Thema
        Barrierefreiheit beschäftigt und hoffen, so unser Festival etwas
        zugänglicher zu machen.
      </p>
      <p>
        Falls du körperliche, sensorische oder sonstige (unsichtbare)
        Beeinträchtigungen hast, stehen dir die Menschen aus dem OK und unsere
        Awareness-Helfer*innen vor wie auch während des Festivals zur Verfügung.
        Wir helfen dir gerne weiter!
      </p>

      <h2>So erreichst du uns vor und während des Festivals</h2>
      <ul>
        <li>
          per Mail: <a href="mailto:info@kleinlautfestival.ch"
            >info@kleinlautfestival.ch</a
          >
        </li>
        <li>
          per Telefon & WhatsApp: die Telefon-Nr. wird eine Woche vor dem
          Festival, am 22.07.2023, veröffentlicht.
        </li>
      </ul>
      <p>
        Falls du trotzdem niemensch vom OK oder dem Awareness-Team findest,
        kannst du dich während des Festivals immer beim Sanitätszelt melden. Die
        Sanitäts-Helfenden stehen immer per Funk mit dem OK in Kontakt.
      </p>

      <h2>Anreise</h2>
      <p>
        Unser Gelände ist gut mit dem Zug bis Brugg AG und anschliessend dem Bus
        Nr. 142 bis zur Haltestelle Riniken, Post erreichbar. Am Freitag fährt
        der Bus alle halbe Stunde ab Brugg Bahnhof (05 und 35), am Samstag
        verkehrt er im Stundentakt (jeweils 35 ab Brugg Bahnhof). Du kannst auch
        direkt mit dem Auto zu unserem Festivalgelände fahren. Es gibt ganz in
        der Nähe vom Eingang Behindertenparkplätze.
      </p>

      <h2>Assistenz</h2>
      <p>
        Assistenzhunde sind bei uns auf dem Feld herzlich willkommen. Beim
        Sanitätszelt bekommst du auch Trinkwasser für deinen Assistenzhund.
      </p>

      <h2>Tickets</h2>
      <p>
        Falls du Schwierigkeiten hast, dein Ticket zu buchen, kannst du uns
        vorher kontaktieren.
      </p>

      <p>
        Wenn eine Assistenzperson dich begleitet, muss sie bei uns keinen
        Eintritt zahlen. Du kannst dich im Vorfeld kurz via
        <a href="mailto:info@kleinlautfestival.ch">info@kleinlautfestival.ch</a>
        bei uns melden und wir setzen deine Begleitperson auf die Gästeliste.
      </p>
      <p>
        Falls du kurzfristig aufgrund deiner Beeinträchtigung nicht am Festival
        teilnehmen kannst, können wir individuell schauen, ob eine
        Ticket-Rückerstattung möglich ist.
      </p>

      <h2>Während dem Festival</h2>

      <h3>Gelände</h3>
      <p>
        Unser Festival ist auf einem Feld, bei Schlechtwetter wird bei uns darum
        alles sehr schlammig. Wir haben auf dem Festival ein rollstuhlgängiges
        ToiToi. Leider sind im Moment unsere Gastrobauten noch nicht alle mit
        dem Rollstuhl zugänglich. Das OK und unsere Awareness-Helfenden springen
        aber gerne dort ein, wo du im Moment nicht hinkommst. So können sie z.B.
        Getränke an der Bar für dich bestellen, falls die Bar zu hoch ist.
      </p>

      <img src="/2023/kleinlaut-gelaendeplan.png" class="plan" />

      <h3>Programm</h3>
      <p>
        Bei einigen Konzerten sind Lichteffekte, wie z.b. Strobo im Einsatz.
        Bitte pass auf dich auf, falls das für dich ein Problem ist. Wenn du
        merkst, dass es dir nicht gut geht, melde dich beim OK, dem
        Awareness-Team oder dem Sanitätsposten und wir helfen dir weiter.
      </p>

      <h3>Bühne</h3>
      <p>
        Wir haben keine Sitzmöglichkeiten vor der Bühne vorgesehen. Falls du
        trotzdem eine brauchst, melde dich kurz bei uns und wir organisieren
        etwas für dich.
      </p>

      <h3>Ruhiger Raum</h3>
      <p>
        Falls du am Festival kurz Pause brauchst, hast du mehrere Möglichkeiten,
        dich zurückzuziehen. Es gibt auf dem Gelände ein Zelt, welches vom
        restlichen Festivalgelände abgetrennt ist. Der Raum ist nicht leise,
        aber es wird kein weiteres Publikum vor Ort sein. Unser Awareness-Team
        oder die Sanitäts-Helfenden zeigen dir gerne den Weg. Unser
        Festivalgelände ist zudem direkt am Waldrand. Du kannst dich auch
        jederzeit in den Wald zurückziehen.
      </p>

      <h2>Camping</h2>
      <p>
        Unser Camping befindet sich direkt neben dem Festivalgelände. Er ist auf
        einem Feld mit Steigung. Die Dusche ist nicht rollstuhlgängig und der
        Toilettenwagen ausserhalb des Festivalgeländes auch nicht. Die nächste
        rollstuhlgängige Toilette befindet sich auf dem Festivalgelände.
      </p>

      <h2>Weitere Fragen</h2>
      <p>
        Hast du weitere Fragen? Melde dich gerne bei uns und wir helfen dir
        gerne weiter. Feedback Wir haben uns dieses Jahr zum ersten Mal mit
        Barrierefreiheit am kleinLaut Festival beschäftigt. Für die nächsten
        Jahre gibt es für uns sicher noch einiges zu tun.
      </p>

      <h2>Feedback</h2>

      <p>Hast du Feedback? Wir freuen uns über jede Rückmeldung!</p>
      <ul>
        <li>
          Willst du gratis ans Festival? Wir suchen Personen mit Behinderung,
          die Lust haben, mit uns zusammen das Festival zu verbessern. Du kannst
          gratis zu uns kommen und im Gegenzug sagst du uns, was wir für dich
          noch alles hätten besser machen können.
        </li>
        <li>
          Willst du mehr machen? Natürlich kannst du auch direkt mithelfen, z.B.
          im OK! Wenn du Interesse hast, melde dich bei uns und wir freuen uns,
          dich kennenzulernen.
        </li>
      </ul>
    </DetailPage>
  </body>
</html>

<style>
  .plan {
    width: 100%;
    margin: 20px;
  }
</style>
