---
import DetailPage from "../components/DetailPage.astro";
import HelfenImage from "../images/Elemente_Subpages_helfen.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - helfen</title>
  </head>
  <body>
    <DetailPage image={HelfenImage} pageTitle="helfen">
      <h1>Helfer*in werden?</h1>
      <p>
        Dieses Jahr sind wir auch wieder auf unsere Helfer*innen angewiesen. Die
        Du kannst dich <a
          href="https://portal.helfereinsatz.ch/kleinlaut-festival/de"
          target="
      _blank">in unserem online Tool</a
        > für die Schichten eintragen. Bei Fragen kannst du dich an Carla wenden
        per E-Mail (<a href="mailto:helfen@kleinlautfestival.ch"
          >helfen@kleinlautfestival.ch</a
        >) oder Telefon (076 396 27 87).
      </p>
      <iframe
        width="100%"
        height="700px"
        scrolling="no"
        border="0"
        frameborder="0"
        src="https://portal.helfereinsatz.ch/kleinlaut-festival/de/iframe"
      ></iframe>
    </DetailPage>
  </body>
</html>
