---
import DetailPage from "../components/DetailPage.astro";
import HelfenImage from "../images/Elemente_Subpages_helfen.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - helfen</title>
  </head>
  <body>
    <DetailPage image={HelfenImage} pageTitle="helfen">
      Dieses Jahr sind wir auch wieder auf unsere Helfer*innen angewiesen. Die
      Infos über Schichten folgen bald!
    </DetailPage>
  </body>
</html>
