---
import AfterFestival from "../components/AfterFestival.astro";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023</title>
  </head>
  <body>
    <AfterFestival />
  </body>
</html>

<script>
  const documentHeight = () => {
    const doc = document.documentElement;
    doc.style.setProperty("--doc-height", `${window.innerHeight}px`);
  };
  window.addEventListener("resize", documentHeight);
  documentHeight();
</script>

<style>
  :root {
    --doc-height: 100%;
  }
  @font-face {
    font-family: "PicNic-Regular";
    src: url("/fonts/PicNic-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  body {
    margin: 0;
  }
</style>
