---
import DetailPage from "../components/DetailPage.astro";
import LineUpImage from "../images/Elemente_Subpages_Lineup.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Über uns</title>
  </head>
  <body>
    <DetailPage image={LineUpImage} pageTitle="Lineup">Super bands</DetailPage>
  </body>
</html>
