---
import DetailPage from "../components/DetailPage.astro";
import ProgrammList from "../components/ProgrammList.svelte";
import OffChaos from "../components/OffChaos.svelte";
import RahmenProgrammImage from "../images/Elemente_Subpages_Rahmenprogramm.png";
import offFriday from "../data/offFriday";
import offSaturday from "../data/offSaturday";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Rahmenprogramm</title>
  </head>
  <body>
    <DetailPage image={RahmenProgrammImage} pageTitle="Rahmenprogramm">
      <p>
        Dieses Jahr wird auch neben der Bühne wieder ganz viel laufen! Ob zum
        zuschauen, ausprobieren oder selbst mitmachen: unser Rahmenprogramm hat
        für alle was dabei.
      </p>
      <ProgrammList
        client:load
        bandsFriday={offFriday}
        bandsSaturday={offSaturday}
      />
      <OffChaos client:load />
    </DetailPage>
  </body>
</html>
