---
import DetailPage from "../components/DetailPage.astro";
import RahmenProgrammImage from "../images/Elemente_SubPages_Rahmenprogramm.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Rahmenprogramm</title>
  </head>
  <body>
    <DetailPage image={RahmenProgrammImage} pageTitle="Rahmenprogramm">
      Super bands
    </DetailPage>
  </body>
</html>
