---
import MainNav from '../components/MainNav.astro';
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kleinLaut 2023</title>
</head>
<body>
   <MainNav />
</body>
</html>

<style>
@font-face {
  font-family: 'PicNic-Regular';
  src: url('/fonts/PicNic-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
    margin: 0;
}
</style>
