---
import DetailPage from "../components/DetailPage.astro";
import UeberUnsImage from "../images/Elemente_Subpages_Ueberuns.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Über uns</title>
  </head>
  <body>
    <DetailPage image={UeberUnsImage} pageTitle="Über uns">
      <h1>klein & laut</h1>
      <p>
        Der Verein kleinLaut ist aus dem Wunsch heraus entstanden, die
        Kulturlandschaft der Region Brugg um ein Musikfestival zu erweitern. Wir
        sind ein kleines (und manchmal auch lautes) Team, das die Begeisterung
        für Musik, Kultur und Beisammensein als Grundstein für unser Festival
        ansieht.
      </p>
      <p>Das kleinLaut Team</p>
      <!-- <div class="image-container">
      <img alt="Das kleinLaut Team" src="@/assets/team.jpg" id="team">
    </div> -->

      <h1>kontakt</h1>
      <p>Für 2023 nehmen wir keine Bandbewerbungen mehr an.</p>
      <p>
        Bei allfälligen Fragen zum Festival (keine Bandbewerbungen bitte) sind
        wir gerne behilflich. Bitte zögert nicht, uns per
        <a href="mailto:info@kleinlautfestival.ch">E-Mail</a> zu kontaktieren.
      </p>

      <h1>festivalforum</h1>
      <p>
        Das kleinLaut Festival ist Teil des Dachverbands für Festivals im
        Aargau:
        <a href="http://www.festivalforum.ch/" target="_blank"
          >Das Festivalforum</a
        >.
      </p>

      <h1>Impressionen</h1>
      <div class="videos">
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/ycx-DEY1vpw"
          width="100%"></iframe>
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/YRBPOJVFY4c"
          width="100%"></iframe>
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/Ip0jsj0TaYk"
          width="100%"></iframe>
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/RReWIgBDHvk"
          width="100%"></iframe>
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/ICVFSHce9j4"
          width="100%"></iframe>
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/XIu2HObUb2I"
          width="100%"></iframe>
        <iframe
          allowfullscreen=""
          frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/FD77ChusSWs"
          width="100%"></iframe>
      </div>
    </DetailPage>
  </body>
</html>

<style>
  p {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 1.2em;
    text-transform: uppercase;
  }

  iframe {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    iframe {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }
</style>
