---
import DetailPage from "../components/DetailPage.astro";
import UeberUnsImage from "../images/Elemente_Subpages_Ueberuns.png";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kleinLaut 2023 - Über uns</title>
  </head>
  <body>
    <DetailPage image={UeberUnsImage} pageTitle="Über uns">
      Der Verein kleinLaut ist aus dem Wunsch heraus entstanden, die
      Kulturlandschaft der Region Brugg um ein Musikfestival zu erweitern. Wir
      sind ein kleines (und manchmal auch lautes) Team, das die Begeisterung für
      Musik, Kultur und Beisammensein als Grundstein für unser Festival ansieht.
      Das kleinLaut Team
    </DetailPage>
  </body>
</html>
