---
import logo from "../images/logo2023.svg";
import Sponsors from "./Sponsors.astro";
---

<div>
  <h1>Vielen Dank dass ihr bei uns wart</h1>
  <h1>Vielen Dank für die Unterstützung</h1>
  <h2>das war</h2>
  <div class="logo"><img src={logo} /></div>
  <div class="logo">
    <iframe
      src="https://player.vimeo.com/video/867997875?h=5ce2ea94d9"
      width="640"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
<Sponsors />

<style>
  @font-face {
    font-family: "Authentic";
    src: url("/fonts/AUTHENTICSans-60.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    text-align: center;
    font-family: "PicNic-Regular";
    margin-top: 100px;
    margin-bottom: 0px;
  }

  h2 {
    text-align: center;
    font-family: "Authentic";
    margin-top: 80px;
  }

  .logo {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  @media screen and (max-width: 767px) {
    .logo {
      width: 90%;
    }

    h1,
    h1,
    iframe {
      width: 90%;
    }
  }
</style>
