---
import logo from "../images/logo2023.svg";
import Sponsors from "./Sponsors.astro";
---

<div class="content">
  <h1>Wir verabschieden uns ❤</h1>
  <p style="margin-top: 80px;">
    Nach vielen unvergesslichen Festivals, mit wunderschönen Momenten und
    regnerischen Tagen, müssen wir euch schweren Herzens mitteilen, dass wir uns
    entschieden haben, das Kapitel kleinLaut zu schliessen.
  </p>

  <h2>Die Gründe?</h2>
  <p>
    In den letzten Jahren war der Verein kleinLaut mit diversen
    Herausforderungen konfrontiert. Angefangen mit vielen Wechseln und Abgängen
    im OK, teureren Einkaufspreisen für unser Material oder auch die schwere
    Erreichbarkeit des Festivals mit dem ÖV. Seit dem verregneten Festival 2023
    haben wir versucht ein neues kleinLaut zu entwickeln, angepasst an neue
    Gewohnheiten und Bedürfnisse der Festivalbesucher*innen. Mit der Zeit waren
    jedoch nun nicht nur unsere Kassen, sondern auch viele Sitze im OK leer. Das
    Interesse am Projekt schrumpfte, oft zugunsten vieler anderer spannender
    Projekte, die uns inzwischen fordern. Unser verbliebenes Material und Geld
    werden wir natürlich an andere Vereine mit ähnlichen Zielen weitergeben. Bei
    Fragen und Anliegen, dürft ihr uns gerne auf <a
      href="mailto:info@kleinlautfestival.ch">info@kleinlautfestival.ch</a
    > zurückschreiben.
  </p>
  <p>
    Wir wollen euch allen aber, noch einmal DANKE sagen! Ihr habt uns so viel
    gegeben: eure Energie, eure Unterstützung und eure Liebe. Dafür sind wir
    unendlich dankbar. Ohne euch wäre das kleinLaut niemals das geworden, was es
    war. Und es war wirklich schön!
  </p>

  <h2>Wir bleiben LAUT!</h2>

  <p>
    Und keine Sorge, wir bleiben weiterhin aktiv und laut – nur eben auf und
    hinter anderen Bühnen. Wo könnt ihr uns jetzt finden? Eigentlich überall in
    der Gegend, wo Kultur lebendig wird! Wir helfen mit und organisieren
    fleissig: am <a href="https://ooam.ch/">OOAM</a>, beim <a
      href="https://www.instagram.com/camerasandbeersbaden"
      >Cameras & Beers Fotowalk</a
    > in Baden, mit dem <a
      href="https://www.instagram.com/feministischer.streik.ag/"
      >Feministischen Streikkollektiv</a
    >. Wir sind aktiv bei <a href="https://www.salon-vert.ch/">Salon Vert</a>, <a
      href="https://kulturduenger.ch/">Kulturdünger</a
    >, <a href="https://royalbaden.ch/">Royal Baden</a>, <a
      href="https://www.instagram.com/dietampons/">die Tampons</a
    > und vielem mehr. Im Sommer freuen wir uns auf das <a
      href="https://freiluftkino-baden.ch/">Freiluftkino</a
    > und andere grossartige Festivals von unseren Freund*innen vom Festivalforum
    Aargau. Sagt Hallo, wenn ihr unsere Gesichter vermisst und lasst uns weiterhin
    gemeinsam tanzen!
  </p>

  Mit einem grossen Dankeschön und viel Liebe, euer kleinLaut Team ❤️

  <h2>das war</h2>
  <div class="logo"><img src={logo} /></div>
  <div class="logo">
    <iframe
      src="https://player.vimeo.com/video/867997875?h=5ce2ea94d9"
      width="640"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
<Sponsors />

<style>
  @font-face {
    font-family: "Authentic";
    src: url("/fonts/AUTHENTICSans-60.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  .content {
    font-family: "Authentic";
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    font-family: "PicNic-Regular";
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 0px;
  }

  h2 {
    text-align: center;
    font-family: "Authentic";
    margin-top: 80px;
  }

  .logo {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  @media screen and (max-width: 767px) {
    .logo {
      width: 90%;
    }

    h1,
    h1,
    iframe {
      width: 90%;
    }
  }
</style>
