<h1>TICKETS</h1>
<p>
  Sichere dir jetzt dein Ticket auf <a
    href="https://www.petzi.ch/de/events/52618-kleinlaut-festival-kleinlaut-festival-2023/tickets/"
    target="_blank">petzi.ch</a
  > und spare dir das Anstehen an der Abendkasse.
</p>

<p>
  Preise:<br /><br />

  Freitag: 35 CHF (Soliticket: 40 CHF)<br />
  Samstag: 40 CHF ((Soliticket: 45 CHF)<br />
  Beide Tage: 60 CHF (Soliticket: 65 CHF)
</p>
<p>
  Was ist das Soliticket?<br /><br />
  Mit dem Soliticket zahlst du einen Aufpreis von 5.– und ermöglichst so Menschen
  die sich keinen Eintritt leisten können auch am kleinLaut teilzunehmen. Alternativ
  kannst du über <a href="https://pay.raisenow.io/qhtyv" target="
  ">Raisenow</a
  > auch einen frei wählbaren Betrag spenden.
</p>
<h1>VERPFLEGUNG</h1>
<p>
  Bei uns kommen auch Tofuschnitten, Fleischtiger und Naschkatzen auf ihre
  Kosten, dank dem feinen selbstgemachten Essen. Freuen darf man sich auch auf
  regionales Bier, Drinks und Ingwer*in. Glas, PET, Esswaren und Alu sind auf
  dem Gelände erlaubt und können mitgenommen werden.
</p>

<h1>ÜBERNACHTUNG</h1>
<p>
  Ans Festivalgelände angrenzend befindet sich der Zeltplatz, auf dem ihr gratis
  euer Zelt aufschlagen könnt. Für die Wasserratten oder Drecksspatzen gibt es
  auf dem Zeltplatz eine Dusche. Wer mit dem Camper kommt, darf auf dem
  Parkplatz Wurzeln schlagen. Offenes Feuer ist sowohl auf dem Festivalgelände,
  als auch auf dem Zeltplatz nicht erlaubt. Cervelat und Schoggibananen könnt
  ihr bei der Feuerschale auf dem Festivalgelände bräteln. Am Samstag ab 9:00
  Uhr wird es für einen kleinen Unkostenbeitrag ein Zmorge geben. Vergesst nicht
  Badehose und Bikini! Der Umiker Schachen ist nah und ein Sprung ins kühle Nass
  sehr empfehlenswert.
</p>

<h1>ZU FUSS</h1>
<p>
  Zu Fuss ist man ab Brugg nach 30 – 40 Minuten Spaziergang durch den Brugger
  Wald auf dem Festivalgelände. Am Ende des Rinikersteigs gibt’s als Belohnung
  einen Durstlöscher.
</p>

<h1>LAGEPLAN</h1>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13255.21599862719!2d8.186678837309065!3d47.49034138174956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47906bdad7ef6c0b%3A0x6f45fba86b7a4402!2skleinLaut%20Festival!5e1!3m2!1snl!2sch!4v1657187277758!5m2!1snl!2sch"
  width="600"
  height="450"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>

<h1>MIT DEM VELO</h1>
<p>
  Mit dem Velo dauert es bloss 15 – 20 Minuten von Brugg aus. Sehr
  empfehlenswert - vor allem dann am Abend das nächtliche Runtersausen! Alle
  Drahteselbenutzer erhalten ebenfalls einen Durstlöscher.
</p>

<h1>MIT DEM AUTO</h1>
<p>
  Mit dem Auto ab Brugg in Richtung Frick / Basel. Ab dem Kreisel nach Umiken
  ist der Weg ausgeschildert. Der Parkplatz kostet 10.- pro Auto und Tag. Falls
  ihr zu zweit im Auto sitzt, zahlt ihr 9.-, zu dritt 8.- etc. (mind. 5.- pro
  Tag).
</p>

<h1>MIT DEM BUS</h1>
<p>
  Ab Brugg fährt der Bus Nr. 142 in 11 Minuten bis um 23:35 Uhr nach Riniken
  (Post). Von der Bushaltestelle ist es noch etwa 5 Minuten laufen. Danach
  gibt’s auch einen langsamen Rundkurs (Bus Nr. 374) um 00:35 (29 Minuten). Die
  letzte Zurückfahrt nach Brugg ist um 1:00 Uhr. Nachher gibt es noch den
  Schuttlebus.
</p>

<!-- <p>FAHRPLANAUSKUNFT</p>-->

<h1>MIT DEM SHUTTLEBUS</h1>
<p>
  Auch dieses Jahr fährt, nachdem sich der öV-Bus zur Ruhe gelegt hat, ein
  Shuttlebus. Von 0:00 bis 5:00 Uhr fährt ein MaxiTaxi in unregelmässigen
  Abständen für einen Batzen von 5 Fr. pro Person direkt nach Brugg an den
  Bahnhof.
</p>

<h1>GELÄNDE</h1>
<p>
  Ab Freitag, 28.7.22 um 17:00 Uhr ist das Gelände für euch offen! Die Musik
  spielt jeweils bis 04:00 Uhr, Getränke gibt’s eine Stunde länger. Aus
  Rücksicht auf die Anwohner*innen bitten wir alle, danach nicht mehr all zu
  lärmig zu sein. Bis wir am Sonntag mit dem Abbau beginnen, bleiben Gelände und
  Zeltplatz offen.
</p>

<img src="/2023/kleinlaut-gelaendeplan.png" class="plan" />

<h1>HUNDE</h1>
<p>
  Allen Lebewesen, die auf vier Beinen durchs Leben gehen, ist die Musik an
  unserem Festival zu laut. Hunde, Katzen, Meerschweinchen und Hamster sollen
  deshalb zu Hause gelassen werden. Sie danken es euch! Ausgenommen davon sind
  selbstverstständlich Assistenzhunden. Auf unserer <a href="/barrierefreiheit"
    >Seite über Barrierefreiheit</a
  > findest du mehr Informationen für Besucher*innen mit Behinderungen.
</p>

<h1>zMORGE</h1>
<p>
  Am Samstagmorgen gibt es ab 9:00 Uhr ein feines Zmorge, das den zweiten
  Festivaltag einläutet.
</p>

<h1>SUPERFOOD</h1>
<p>
  Foodwaste ist uns ein Dorn im Auge, weshalb wir alle übrig gebliebenen
  Esswaren am Sonntag bei der Küche gratis verteilen. Wir müssen nichts
  wegwerfen und ihr habt euer Katerzmorge!
</p>

<h1>BUGS</h1>
<p>
  Auf unserem Gelände wird mit der festivaleigenen Währung „Bugs“ bezahlt. Am
  Eingang kannst du deine Schweizer Franken eintauschen. Wir nehmen Bargeld und
  Twint. Der nächste Bankomat ist in Brugg am Bahnhof. In Riniken gibt es also
  keine Möglichkeit Geld abzuheben.
</p>

<h1>FAMILIE</h1>
<p>
  Bei uns sind alle Jungen und Junggebliebenen herzlich willkommen. Bis 12 Jahre
  ist der Eintritt in Begleitung mit den Eltern gratis.
</p>

<style>
  p {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 1.2em;
  }

  .plan {
    width: 100%;
    margin: 20px;
  }

  @media screen and (max-width: 767px) {
    iframe {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }
</style>
